<div ng-controller="ecran10Controller as Ecran10Ctrlr">

    <h1> Ecran 1 voir le resultat </h1>

    <div class="container">

        <header class="row">
            <div class="col-lg-12"> Entete de la page ici  </div>
        </header>


        <div class="row">
            <div class="col-sm-4">
                <di class="col-lg-12">
                    cleve   dfghdfhdfh
                </di>
            </div>

            <div class="col-sm-8">
                <di class="col-lg-12">
                    dakin dfhdghdgh
                </di>
            </div>

        </div>

        <footer class="row">
            <div class="col-lg-12"> Pied de page  </div>
        </footer>
    </div>




</div>